<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//yegor256.github.io/tacit/tacit.min.css"/>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=3">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=3">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=3">
    <link rel="manifest" href="/favicon/site.webmanifest?v=3">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=3" color="#ffb300">
    <link rel="shortcut icon" href="/favicon/favicon.ico?v=3">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml?v=3">
    <meta name="theme-color" content="#ffffff">
    <!-- https://realfavicongenerator.net/favicon_result?file_id=p1i11gpomc1kc09h71jmnr19kp6 -->
  </head>
  <body>
    <header>&nbsp;</header>
    <section>
      <article>
        {{{body}}}
      </article>
    </section>
    <footer>&nbsp;</footer>
  </body>
</html>
